<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #assignForm="ngForm">
      <div class="form-group">
        <label for="branchManager">Branch Manager</label>
        <select id="branchManager" [(ngModel)]="cheque.branchManager.id" name="branchManager.id">
          <option value="">Select a Manager</option>
          <option *ngFor="let order of managers; let i = index" [value]="managers[i].id">
            {{managers[i].username}}
          </option>
        </select>
      </div>
      <!--<div class="form-group">
        <label for="cheque">Cheque</label>
        <select id="cheque" [(ngModel)]="cheque.id" name="id">
          <option value="">Select a Role</option>
          <option *ngFor="let order of managers; let i = index" [value]="managers[i].value">
            {{managers[i].name}}
          </option>
        </select>
      </div>-->
      <button type="submit" [disabled]="!assignForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

