<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">BankName</th>
        <th scope="col">prefix</th>
        <th scope="col">Suffix</th>
      </tr>
      </thead>
      <tfoot class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">BankName</th>
        <th scope="col">prefix</th>
        <th scope="col">Suffix</th>
      </tr>
      </tfoot>
      <tbody>
      <tr *ngFor="let cheque of cheques">
        <td>{{cheque.id}}</td>
        <td>{{cheque.bankName}}</td>
        <td>{{cheque.prefix}}</td>
        <td>{{cheque.suffix}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

